[2020-05-23 21:23] xuhaoa opened #28 "Drive compile error"
Hello, sorry, I reported an error "suppose an int is returned from outside" when compiling the driver, what should I do? Wdm.h file, thank you very much.Have star

[2020-05-23 21:44] dretax commented on #28
That doesn't seem like a valid error. Screenshot Visual Studio please.

[2020-05-24 10:45] xuhaoa commented on #28
Spectre prompt release vulnerability library, I closed release (because it was invalid after installation), this is its error.
![error](https://user-images.githubusercontent.com/30211677/82752167-b6085c80-9dee-11ea-92a0-57d3b744eb7f.png)
![spectre](https://user-images.githubusercontent.com/30211677/82752168-b7d22000-9dee-11ea-9861-efabd2679dd7.png)

[2020-05-24 13:22] dretax commented on #28
Spectre-mitigated libraries needs to be installed inorder to compile a driver. This must be done before installing the WDK. You can install this library from the Visual Studio installer. If you can't fix this issue, I have done a tutorial video about driver development today, and sent It to Rake, and might be out on guidedhacking.com today.

[2020-05-24 13:22] #28 closed

[2020-05-31 08:28] dretax commented on #28
@xuhaoa https://guidedhacking.com/threads/windows-kernel-mode-driver-tutorial.15201/

[2020-06-05 09:37] 54wedge opened #35 "'ExAllocatePool': was declared deprecated"
I am getting some warnings during compiling the driver to x64 platform.

Garhal/Garhal.inf
- warning 1324: [Version] section should specify PnpLockdown=1.

Garhal/hide.c
- error C2220: the following warning is treated as an error
- warning C4996: 'ExAllocatePool': was declared deprecated

GarhalController/GarhalController.cpp
- warning C4312: 'type cast': conversion from 'DWORD' to 'uintptr_t **'

[2020-06-05 14:25] Life45 commented on #35
I couldn't recreate the issue with warning level /W4 (default). I can compile to either debug and release versions of x64. However, Warning C4312 is a typical type cast warning and it's in GarhalController so it's not related to the driver. Warning C4996 in hide.c can be fixed by changing the deprecated method 'ExAllocatePool' to '[ExAllocatePoolWithTag](https://docs.microsoft.com/en-us/windows-ha

[2020-06-05 17:04] dretax commented on #35
@54wedge I'll need additional informations. Are you by a chance trying to compile on 32bit?
Most driver compilation warnings are ignored, the deprecated function shouldn't cause an issue.
Just change the function to ExAllocatePoolWithTag as @Life45 stated, or try ignoring the warning instead of lowering the warning level. PnpLockdown shouldn't cause an issue.

TBH I updated the offsets, and just t

[2020-06-05 18:37] 54wedge commented on #35
Thanks for the reply. I am pretty sure that I am compiling the driver on 64-bit Windows targeting x64 platform. I am using Visual studio version 16.6.1.
Here is what I found using Dbgview after starting the driver. The driver was compiled with debug flag and lower warning level.
[code]
I tried to rename `ExAllocatePool` to `ExAllocatePoolWithTag` but still there is a system crash.
Also, here is so

[2020-06-05 18:49] dretax commented on #35
A side question: Have you tried building with Release configuration?

[2020-06-05 18:53] dretax commented on #35
https://guidedhacking.com/threads/csgo-kernel-driver-multihack.15130/

Take a look at the tutorial and try reseting the https://youtu.be/9h1FsOISwX0?t=233
option.

Also re-set the integrity check show in the video. You changed release to debug, possibly thats the issue.

[2020-06-05 20:23] 54wedge commented on #35
I changed debug to release but the system still crashes. Here is a log from Dbgview
[code]
I double checked and re-set the `Inf2Cat->Use Local Time->Yes` and `Linker->Command Line->\INTEGRITYCHECK`. The warning about timestamp is still there. Here is a full crash dump.
[code]

[2020-06-05 21:08] dretax commented on #35
@54wedge I'd like to see If this is a Windows version update related issue, or something that I'l need to look into. Here is a compiled driver, try this one last time. If It doesn't work I'll have to dig myself into this.
[driver.zip](https://github.com/dretax/GarHal_CSGO/files/4738493/driver.zip)

[2020-06-05 21:22] 54wedge commented on #35
I tried the pre-compiled driver and it still crashes the system. The log from Dbgview and crash dump is pretty similar to my last comment.
[code]
[code]

[2020-06-05 21:56] dretax commented on #35
We have been looking through the logs, It's not certainly clear yet. @54wedge can you tell me if you had the controller running by a chance or not? I would assume no, and I honestly do not think this is the issue, but would be good to know.

[2020-06-05 22:03] 54wedge commented on #35
I am pretty sure that the controller is not running in the background.

[2020-06-05 22:10] dretax commented on #35
@54wedge Our Windows version is 18362.836, yours is much higher. Seems like an insider version of windows. 19041.1.

Can you tell me if this is true? You may need the insider WDK to compile, and make the driver work on your system. https://www.microsoft.com/en-us/software-download/windowsinsiderpreviewWDK

[2020-06-05 22:25] 54wedge commented on #35
Windows build 19041 is corresponding to Windows version 2004 which is released as May 2020 update. My WDK version is also updated to 10.0.19041.1.

[2020-06-05 22:36] dretax commented on #35
Thanks for the information, worths to take the research. I really hope microsoft didn't fuck something up. I don't dare to update my system, but I'll test this on my VM, and let you know about the outcome.

[2020-06-06 09:15] dretax commented on #35
@54wedge may I have your discord name for faster resolving? I'll summarize everything here if we managed to fix this.

[2020-06-06 15:03] dretax commented on #35
@54wedge I have been looking.
![image](https://user-images.githubusercontent.com/1114109/83947476-76426b80-a817-11ea-98db-a868f36fdaf8.png)
![image](https://user-images.githubusercontent.com/1114109/83947484-7c384c80-a817-11ea-80ac-48699a27aeaa.png)

It seems like It is the findprocess function, but according to the logs you are not even reaching there. Try commeting out the FindProcessByName func

[2020-06-06 16:51] dretax commented on #35
I believe It is fixed.
https://github.com/dretax/GarHal_CSGO/pull/39/commits/90b5f1fb7bae2ae88abd8b3770dd7aba5ef0cefa

Let me know how It turns out.

[2020-06-06 18:41] 54wedge commented on #35
I compiled the latest version and it is working just as intended. Since the main issue is fixed, I want to mention a small bonus issue. When the code is fresh cloned, there is error during the compile of GarhalController.

GarhalController/Matrix.hpp line 299
- error C2676: binary '<<': 'std::ostream' does not define this operator or a conversion to a type acceptable to the predefined operator

Th

[2020-06-06 18:45] dretax commented on #35
I think It's because you are not compiling on 17.
![image](https://user-images.githubusercontent.com/1114109/83952086-93d2fd80-a836-11ea-9c94-d91ca5606d84.png)

I'll add It anyway. Thanks for the assist, always learning something new with this.

[2020-06-06 18:45] #35 closed

[2020-06-06 18:48] dretax commented on #35
https://github.com/dretax/GarHal_CSGO/commit/4b31a1b0dd53089f07f45d768f92d83c0245bcc7

[2020-07-14 14:30] kaushikkumarbora opened #52 "Not Working in Windows 10 update 2004"
Project Compiles without error.
Driver loads successfully.
GarhalController.exe running, but no effect on game

[2020-07-14 14:38] Life45 commented on #52
Sounds like an offset issue, i don't think it's related to windows version. Valve is updating csgo more often so i recommend checking [steamdb](https://steamdb.info/app/730/) page to see last update time and update your offsets before getting into the game.

[2020-07-14 15:19] dretax commented on #52
+1. Please verify.

[2020-07-14 16:32] dretax commented on #52
@kaushikkumarbora https://github.com/dretax/GarHal_CSGO/commit/01b80187e437664dd974dd5ce1dc1b33679b1391

[2020-07-15 04:12] kaushikkumarbora commented on #52
Resolved after offset update

[2020-07-15 04:25] #52 closed

[2020-07-18 09:03] dretax opened #54 "Convert the project"
Make a separate project that works as a manual mapped driver for fun.
Cache cleaning, and unloaded driver list cleaning will not be implemented, and will be left as a practice for the user.

[2020-07-21 06:22] kaushikkumarbora opened #55 "Incorrect GameDirectory"
The getGameDirectory() function in Aimbot class gives incorrect path. As a result the bsp file for the map fails to parse.

Definition in Aimbot.cpp
[code]

Corrected Definition
[code]

[2020-07-21 13:54] dretax commented on #55
What output do you get for the original & new code line?

[2020-07-21 17:24] dretax commented on #55
https://github.com/dretax/GarHal_CSGO/commit/bafdccb47d72319bc3a92dd6689ebbefa3942baa

[2020-07-21 19:03] kaushikkumarbora commented on #55
Before change
[code]

After change
[code]

[2020-07-22 05:51] #55 closed

[2020-07-31 15:28] atulkunal999 opened #58 "Readspacial not working on big buffer size"

[2020-07-31 15:36] dretax commented on #58
That's a very indetailed information @atulkunal999
What are you trying to use It for? I just dropped the plans to make an anti-aimbot, reasons can be read on the readme.md.
Are you trying to use Scan to find yourself an address?

[2020-08-02 08:37] dretax commented on #58
Without proper answer, I can't help you. Closing.

[2020-08-02 08:37] #58 closed

[2020-08-09 13:03] dretax commented on #54
#62

[2020-08-23 09:34] knuoe opened #63 "all_of issue"
Hello,

any idea why this is happening? i managed to compile it in the past, but dont know why this occures now.

![grafik](https://user-images.githubusercontent.com/70093110/90975433-714aa980-e534-11ea-8eec-ecef1894bbec.png)

Greetings

[2020-08-23 10:05] #63 closed, assigned to dretax

[2020-08-24 11:40] dretax commented on #63
So you only included algorithm? I got a report from someone else aswell, similar issue.
Wonder why I am not getting It.

[2020-08-26 15:40] xenu1 opened #64 "CRITICAL_STRUCTURE_CORRUPTION"
I got the cheat working with driver manual mapping and it's nice but after like 30 mins I'll get a BSOD for CRITICAL_STRUCTURE_CORRUPTION I have all the hiding and callbacks disabled. Do you know what could be happening?

[2020-08-26 15:47] Life45 commented on #64
CRITICAL_STRUCTURE_CORRUPTION bsod after some time often indicates that patchguard detected something. What do you use to manually load the driver ?

[2020-08-26 18:20] dretax commented on #64
That might be right. Can you get me a crash dump via windbg by typing
!analyze -v
similar to here? https://github.com/dretax/GarHal_CSGO/issues/35

[2020-08-26 22:01] xenu1 commented on #64
i've now removed everything that could trigger pg so hopefully it won't happen again if it does i'll have dumps enabled this time

[2020-08-27 08:13] dretax commented on #64
@xenu1 Let me know what you have removed, because that could give me info as well.

[2020-08-27 12:27] xenu1 commented on #64
made sure to remove all the process hide and driver hide stuff and also the obregister callbacks. unsure of if it actually did anything havent tested. gonna try to add my own driver that i used for valorant.

[2020-08-27 18:26] xenu1 commented on #64
Okay so I removed all the callbacks and still received a BSOD. Only have a dump file not sure if you would want to take a look at it.

[2020-08-28 11:09] dretax commented on #64
Ahh yea, I forgot I didn't provide alternative to PsSetLoadImageNotifyRoutine.
Patchguard checks that function.

Implementing PsGetProcessWow64Process is nothing serious, do you want me to make a good sample of It?

[2020-08-28 14:29] xenu1 commented on #64
yeah that would be awesome thanks

[2020-08-30 07:40] dretax commented on #64
Alright.

[2020-08-30 16:09] xenu1 commented on #64
I tried using the one from this https://github.com/nbqofficial/kernel-csgo but couldn't get it working I'm a bit new to kernel D:

[2020-09-01 11:24] dretax commented on #64
Well the easiest solution here is probably to make an IOCTL to order the Driver to find the process we are looking for.
Then use PsGetProcessWow64Process to grab the baseaddresses of the specific dlls "we need".
Once I have time I'll code It on the week.

[2020-09-06 19:01] xenu1 commented on #64
any update on this i tried a little more to add this. i got it to compile but still seems to not work. does the method to get process id also need to change?

[2020-09-07 21:28] dretax commented on #64
Yeah sorry. I'll commit It in the morning.

[2020-09-07 23:55] xenu1 commented on #64
sounds good

[2020-09-08 20:56] dretax commented on #64
I haven't forgotten it, I'm working on it asap, just harder on weekdays. I think i can manage to slip it in.

[2020-09-08 22:52] xenu1 commented on #64
take your time :D ill test asap when you commit

[2020-09-09 07:27] dretax commented on #64
https://github.com/dretax/GarHal_CSGO/tree/dretax

boolean ismanualmapped probably needs an initial value. There could be mistakes. Didn't have time for the image sizes.
Try testing It see if you get a bsod at map.

[2020-09-09 09:36] dretax commented on #64
@xenu1 fixed some other stuffs and added the size in the mean time. Let me know how it goes.

[2020-09-09 10:16] xenu1 commented on #64
Going to test right now!

[2020-09-09 10:38] xenu1 commented on #64
The driver maps fine it seems but when you run the usermode client it gives a BSOD with APC_INDEX_MISMATCH

[2020-09-09 11:02] dretax commented on #64
Mhm. Checking right now.

[2020-09-09 11:04] xenu1 commented on #64
There was just a csgo update as well not sure if that matters

[2020-09-09 11:10] dretax commented on #64
Alright. It's probably the MODULEENTRY GetProcessModule(PEPROCESS Process, LPCWSTR ModuleName)
function.
To verify this, can you please move the
KeStackAttachProcess(Process, &KAPC); to the beginning of the try catch, and
KeUnstackDetachProcess(&KAPC); to the end of the try catch?

If you still get a bsod the next step to do without a crashdump is to
comment out all the code and just return an emp

[2020-09-09 11:15] xenu1 commented on #64
seems to already be there for me `KeStackAttachProcess(Process, &KAPC);

	__try
	{
		PPEB32 peb32 = (PPEB32)PsGetProcessWow64Process(Process);
		if (!peb32 || !peb32->Ldr)
		{
			return ret;
		}

		for (PLIST_ENTRY32 plist_entry = (PLIST_ENTRY32)((PPEB_LDR_DATA32)peb32->Ldr)->InLoadOrderModuleList.Flink;
			plist_entry != &((PPEB_LDR_DATA32)peb32->Ldr)->InLoadOrderModuleList;
			plist_entry = (PLI

[2020-09-09 11:16] dretax commented on #64
This way:
![image](https://user-images.githubusercontent.com/1114109/92591712-b1cd5580-f29e-11ea-993c-1fc4e70f6d30.png)

[2020-09-09 11:18] dretax commented on #64
https://docs.microsoft.com/en-us/windows-hardware/drivers/ddi/ntifs/nf-ntifs-kestackattachprocess

KeStackAttachProcess attaches the current thread to the address space of the process pointed to by the Process parameter. If the current thread was already attached to another process, the ApcState parameter receives the current APC state before KeStackAttachProcess attaches to the new process.

Ever

[2020-09-09 11:22] xenu1 commented on #64
I'll give it a try

[2020-09-09 11:23] dretax commented on #64
Wait. I'm retarded. lol. Here is the fix.

[2020-09-09 11:24] dretax commented on #64
The first module is obviously found, but the stack is not unstacked, therefore we get an APC bsod.
![image](https://user-images.githubusercontent.com/1114109/92592405-ceb65880-f29f-11ea-9282-c6f09d15a5f4.png)

[2020-09-09 11:41] xenu1 commented on #64
That fixed that BSOD error now I am getting kmode_exception_not_handled when opening the usermode client

[2020-09-09 11:43] dretax commented on #64
Where are you getting that?
Can you check DebugView for the error or smh?

[2020-09-09 11:44] dretax commented on #64
So you are getting another bsod?

[2020-09-09 11:46] xenu1 commented on #64
Yeah

[2020-09-09 11:48] xenu1 commented on #64
ntoskrnl.exe+3ddf40 is where the bugcheck occurs

[2020-09-09 12:01] xenu1 commented on #64
heres a snippet of the crash dump analysis

https://pastebin.com/SqabNuPR

[2020-09-09 12:34] dretax commented on #64
mhm. I'm thinking on where it could happen.
Also thanks for the crash dump. Can you attach the .sys file here so i can analyze it in IDA?
BUCKET_ID_FUNC_OFFSET:  ce

[2020-09-09 12:55] xenu1 commented on #64
Sure here you go [https://filebin.net/0dwfvfrqumns3zid/Garhal.sys?t=2rgw8tmy](url)

[2020-09-09 16:39] dretax commented on #64
can i have your discord please? Seems like we are crashing further. mhm.
@xenu1

[2020-09-09 17:32] xenu1 commented on #64
playing for kda#0361

[2020-09-09 21:11] dretax commented on #64
Fixed in https://github.com/dretax/GarHal_CSGO/pull/65.
Issue was at the changes in memory.c when I removed the reference mark.

[2020-09-09 21:11] #64 closed

[2020-09-11 06:57] webinsh opened #67 "Controller crash on launch"
Controller is crashing, when trying to launch it. Error - ReadRequest was corrupted
https://prnt.sc/ufd33j

[2020-09-11 07:44] dretax commented on #67
@webinsh Thanks for the report, I haven't tested the latest commit. I'll take a look today.

[2020-09-11 07:48] dretax commented on #67
Please apply this small change to the driver.
https://github.com/dretax/GarHal_CSGO/commit/d54a9f121458d3b6aaebf704015bea98e8157682
I wonder if the current state is causing It.

[2020-09-11 08:49] webinsh commented on #67
Now I can't even compile a thing. It shows that function is not found(https://prnt.sc/uff6v4), but it is defined in ntos.h(https://prnt.sc/uff7q1)?

[2020-09-11 14:59] dretax commented on #67
Thanks, I'll take a look today.

[2020-09-13 17:08] dretax commented on #67
I can't confirm your issue. The driver compiles with either changes.
The controller works. I used kdmapper to map the driver.
I also launched the controller as admin. @webinsh

[2020-09-13 19:40] dretax commented on #67
@webinsh I think the problem is that you are building a debug build.
Try compiling on release, furthermore always compile "ready" programs in release.
Are you on 32 or 64bit?

[2020-09-15 11:26] #67 closed

[2020-10-03 04:26] LTSF opened #68 "'all_of': identifier not found"
1>------ Build started: Project: GarhalController, Configuration: Release x64 ------
1>Aimbot.cpp
1>BSPFile.cpp
1>BSPParser.cpp
1>config.cpp
1>Engine.cpp
1>Entity.cpp
1>GarhalController.cpp
1>TraceRay.cpp
1>C:\Users\Administrator\Desktop\GarHal_CSGO-master\GarhalController\Matrix.hpp(80): error C3861: 'all_of': identifier not found
1>C:\Users\Administrator\Desktop\GarHal_CSGO-master\GarhalControll

[2020-10-04 08:20] dretax commented on #68
@LTSF Were you able to successfully compile?

[2020-10-04 08:22] #68 closed

[2020-10-15 06:33] jackKiZhu opened #69 "GarhalController.exe There was no reaction"
I updated offsets, but GarhalController.exe There was no reaction

[2020-10-15 07:20] #69 closed

[2020-10-15 08:35] dretax commented on #69
I assume there was.

[2020-10-23 17:23] atulkunal999 opened #70 "Read Write Problem"
Your Driver in my PC is Reading correctly sometime but in not able to write any memory any solution.
i am using your driver to read and write by my own c++ program.
i had already cheeked your driver was successfully loaded and working.
![Screenshot (80)](https://user-images.githubusercontent.com/44960066/97034404-7e126a80-1582-11eb-9e3e-4724acc6f650.png)

[2020-10-23 21:28] jackieyiwu opened #71 "GarhalController"
I cant release the GarhalController. Some of the grammar errors.

[2020-10-23 21:58] dretax commented on #70
There are many flaws in here that do not make this issue feel right.
The project works perfectly for use, It's your modifications that might be the issue however.

There are many questions such as: Are you running your usermode app elevated?
What have you modified in the code?
Have you tried debuging the drivers functions using DebugView?

You have provided almost 0 amount of code. This is rarely

[2020-10-23 22:00] dretax commented on #71
What do you mean? Can't build GarhalController?
Where are the logs?
What OS?
The issue templates are not there for a joke!!

[2020-10-23 22:04] Life45 commented on #70
Default kernel interface file that @dretax is using in this project only targets 32 bit. You are trying use this to read data from a 64 bit process so you are getting complete trash. Re-write the interface file if you intend to use it on 64 bit processes.

[2020-10-23 22:48] dretax commented on #70
Correct.
ULONG is 4 bytes, this code doesn't work on x64 processes

[2020-10-24 13:20] #70 closed

[2020-10-24 19:00] dretax commented on #70
Very authentic.

[2020-10-27 17:45] #71 closed

[2020-10-31 02:03] ImJksn opened #72 "All_Of Identifier Not Found"
**Describe the issue**
When attempting to compile the `GarhalController` project, `Matrix.hpp` has an alleged error on line 80. The compiler cites [C3861](https://docs.microsoft.com/en-us/cpp/error-messages/compiler-errors-2/compiler-error-c3861?f1url=%3FappId%3DDev16IDEF1%26l%3DEN-US%26k%3Dk(C3861)%26rd%3Dtrue&view=msvc-160) with the description that `'all_of': identifier not found`. When looking

[2020-10-31 02:12] Life45 commented on #72
Thanks for including all the details, it's nice to see someone still doing that. However, the same issue was reported 2 more times(as you can see [there](https://github.com/dretax/GarHal_CSGO/issues/68) and [there](https://github.com/dretax/GarHal_CSGO/issues/63)) and was fixed with a simple algorithm include. A quick check on closed issues section could have saved you from writing a whole thread

[2020-10-31 02:17] ImJksn commented on #72
I'm super silly! I saw both the other open issues and was confused by the "include algorithm" part...but the way you phrased it of "algorithm include" made me realize it was literally `#include <algorithm>`...Just tested and compiled correctly. I'm so silly hahaha. Thank you, I'm pretty new to all this so I appreciate your help! I'll close this out. 😄

[2020-10-31 02:17] #72 closed

[2020-10-31 02:24] Life45 commented on #72
Haha it happens. Glad you could figure it out.

[2020-10-31 12:18] dretax commented on #72
Thanks for taking the time to write the issue. It is still unknown to me why the project compiles at my by It self without the include. I will include It by default. Also a smaller update is coming to the repo.

[2020-11-01 14:41] dretax commented on #54
Implementation started for this.

[2020-11-06 04:40] atulkunal999 opened #76 "Why There is no memory Allocation"
I think you can make this better by adding a simple memory allocation in your driver.
this may help in developing many more hacks.

[2020-11-06 09:27] dretax commented on #76
@Life45 xaxaxa, first

@atulkunal999 well what would you need it for?

[2020-11-07 22:11] dretax commented on #76
I need examples of what do you need to use it for otherwise i cant implement.

[2020-11-08 04:15] atulkunal999 commented on #76
ok you can see my Repo https://github.com/atulkunal999/pubg_mobile_memory_hacking
Where i used Your Driver To Implement a Game Hack and if i want to add magic bullet i need to allocate memory
or as another example my game process is protected and i want to inject a DLL then i want to allocate a Memory But there is a problem i can not use virtualallocEx becouse its using some type of protection.

[2020-11-11 20:13] itsyourcracker opened #77 "just a better way of doing things"
Instead of using 99999.f you could use FLT_MAX. I don't know I think it just makes it look better

[2020-11-11 23:01] dretax commented on #77
Not sure from which part you are refering to, I am on phone but gonna check It out. Thanks.

[2020-11-11 23:04] dretax commented on #76
I see. Its nothing hard to do honeslty. Will consider adding.

[2020-11-12 04:03] atulkunal999 commented on #76
Thank you That Would be helpful and please considering adding a simple implement.

[2020-11-12 19:44] itsyourcracker commented on #77
https://github.com/dretax/GarHal_CSGO/blob/master/GarhalController/Aimbot.cpp

Line 119

float closest = 999999999.f;

you could change it to this

float closest = FLT_MAX;

[2020-11-12 21:46] dretax commented on #77
Yeah, seen in the morning, but forgot after work.
Consider it done. Thanks.

[2020-11-12 21:46] #77 closed

[2020-11-13 17:13] itsyourcracker opened #79 "Another thing I noticed"
This isn't anything major but I thought I should point it out.

https://github.com/dretax/GarHal_CSGO/blob/1150d94123d3cd6ded7a45a8a8a46a8bb33bad8c/GarhalController/Aimbot.cpp

line 120

for (int i = 0; i < 64; i++)

you could change it to this

for (int i = 0; i <= 64; ++i)

The reason behind this: In community servers there can be **64 players** ergo the less than or equal to, and the reason you

[2020-11-13 23:27] dretax commented on #79
The equal line in that case is not true. We index from 0. The 64th player is gonna be index 63.

[2020-11-13 23:42] itsyourcracker commented on #79
0-0 oh my god. Wow am I brain dead

[2020-11-13 23:43] itsyourcracker commented on #79
but you should still read the article

[2020-11-14 10:31] dretax commented on #79
I do understand what you are trying to say, but in this case It really doesn't do a big difference. As on building on Release, the compiler is going to optimize the instructions. It's the same when using C# and building with msbuild on release, with the optimize parameter.

https://stackoverflow.com/questions/24886/is-there-a-performance-difference-between-i-and-i-in-c

In this little case the per

[2020-11-14 10:31] #79 closed

[2020-11-24 18:40] xenu1 opened #80 "This is more of a question rather than feature request"
I was wondering if this aimbot would be fine on faceit serverside AC. I think for writing viewangles this requires to check the mousedx and mousedy and make sure you are sending the correct positions for these. Does the cheat already do something like this?

[2020-11-24 18:56] Life45 commented on #80
I believe Garhal doesnt currently simulate mouse movements which should be done if you are going to use in faceit. Comparing raw mouse input and viewangles should be relatively easy for faceit and could get you detected as you also said.

[2020-11-25 12:55] dretax commented on #80
For faceit, the aimbot is not the first issue you need with. You will need a reliable, "invisible" communication first that you can use. Then start doing things step by step.

[2020-11-27 13:34] #80 closed

[2020-12-04 22:07] xenu1 commented on #80
was more asking if playing faceit without the client AC and just the serversided AC was safe. but thanks, I got my answers

[2020-12-06 10:57] 1145738769 opened #82 "I have mounted the driver but get this error"
Addresses are 0x0. Waiting for CSGO...

[2020-12-06 10:58] 1145738769 commented on #82
I already open csgo

[2020-12-06 23:02] dretax commented on #82
You wish to explore kernel level, but failing to use the github templates, and basic research.
If you don't take the time to write your issue down detailed why should I "waste" my time answering your question?

Usermode applications can only enstablish IOCTL connections if you are running them with administrator rights.

[2020-12-06 23:02] #82 closed

[2020-12-09 17:45] 1145738769 opened #84 "Driver started an error"
C:\Users\Administrator>cd C:\Users\Administrator\Desktop\kdmapper-master\x64\Release

C:\Users\Administrator\Desktop\kdmapper-master\x64\Release>kdmapper.exe Garhal.sys
[<] Loading vulnerable driver
[-] Failed to get export gdi32full.NtGdiDdDDIReclaimAllocations2
[-] Failed to allocate remote image in kernel
[-] Failed to map Garhal.sys
[<] Unloading vulnerable driver

Garhal.sys is 64
kdmapper-18

[2020-12-10 10:01] dretax commented on #84
The kdmapper you are using is not compatible with the OS version you are using.

[2020-12-11 19:12] #84 closed

[2021-02-18 04:46] 1145738769 opened #87 "About the GLOW and AIMBOT function, often undetectable behind the wall"
I haven't play csgo for several but now I compile GARHAL csgo, GLOW and AIMBOT all frequent failure behind the wall, how can we repair

[2021-02-18 20:15] dretax commented on #87
What the hell is this issue again. Are you serious?

[2021-02-18 20:18] Life45 commented on #87
why you no understand he say no work cheat it simple question u dumb

[2021-02-19 09:43] dretax commented on #87
I think after reading this several times again he means:

1. GLOW doesn't work: This is due to csgo's isdormant function, if the server thinks you shouldn't see the player's position, you won't get an update on the character's current location.
2. Aimbot: It's due to the external check that it is now checking if you can see the player, or it is behind a wall. Do your research on how to disable thi

[2021-02-19 09:43] #87 closed

[2021-02-19 09:46] Eurioin commented on #87
why not write in proper english? more understandable for everyone...
Is your probelm one of the following?

- [ ]  Does not work at all.
- [ ]  Does work, but in a specified distance (e.g. on Dust2 from A site you can see players coming from long, but cant see players in B tunnel).

[2021-03-24 23:13] Allerek opened #90 "kdmapper bsod"
im using updated kdmapper https://github.com/TheCruZ/kdmapper
Driver BSODS with SECURITY_CHECK_FAILED
Uncommented the code, renamed old function, even tried to remove the driver unload functions(as i saw on UC that its recommended) but still nothing. I guess somethings outdated?

[2021-03-26 16:21] dretax commented on #90
"Security check failed", my best guess is the GS- parameter from my head.

[2021-03-26 18:20] Allerek commented on #90
Used it.
(Sorry for other language)
![image](https://user-images.githubusercontent.com/12304071/112675973-21381a80-8e68-11eb-85e2-75d4a74d3efc.png)

"My" code looks like:
![image](https://user-images.githubusercontent.com/12304071/112675999-301ecd00-8e68-11eb-8c93-b81401ac4e24.png)
![image](https://user-images.githubusercontent.com/12304071/112676015-3614ae00-8e68-11eb-962b-f21238ed0703.png)

Also

[2021-03-26 19:03] dretax commented on #90
DriverUnload change doesn't really make a big difference in this case, and kinda seems a silly suggestion.

What's your windows version? To verify garhal isnt the case, please test if you can load it by test mode.

[2021-03-26 22:23] Allerek commented on #90
20H2, in test mode everything works fine.
![image](https://user-images.githubusercontent.com/12304071/112698561-345be200-8e8a-11eb-9798-caa146320416.png)

[2021-03-26 22:56] Allerek commented on #90
Btw, i'm an amateur, its the good way of detecting if entity is on ladder?

`bool Entity::isOnLadder()
{
	unsigned char moveType = Driver.ReadVirtualMemory<uint32_t>(ProcessId, EntityAddress + m_MoveType, sizeof(uint32_t));
	return moveType == 9;
}`

[2021-03-26 23:05] Life45 commented on #90
Alright, that's totally irrelevant to the topic. About the crash, if you can send the crash dump maybe i can take a look and close this before dretax sees this question and gets angry lol

[2021-03-27 23:49] dretax commented on #90
+1 about the crash dump. Also, you could take a look at the crash offset and find the crash cause using IDA.

[2021-04-01 08:54] phucle225 opened #91 "I don't CreateFileA from User mode, when i use kdmapper TheCruZ, help me."
**Describe the issue**
hDriver == INVALID_HANDLE_VALUE

**Uncomment kernel mode**
![image](https://user-images.githubusercontent.com/31835504/113268883-16670500-9302-11eb-98ce-910c9ecaf20a.png)
![image](https://user-images.githubusercontent.com/31835504/113268959-2aab0200-9302-11eb-8bfa-b5d2215be88d.png)

**UserMode**
![image](https://user-images.githubusercontent.com/31835504/113269026-3e566880-9

[2021-04-01 09:11] phucle225 commented on #91
oh shit, i'm sorry, i'm newbie, run administrator user mode.

[2021-04-01 09:11] #91 closed

[2021-04-01 13:27] dretax commented on #91
O_o

[2021-04-08 10:32] phucle225 opened #92 "Issue aimbot not sucess entity"
**Describe the issue**
I use feature aimbot smooth, but aim not success head, and when the enemy sits down.

**Screenshots**
![image](https://user-images.githubusercontent.com/31835504/114012161-2d709e80-9890-11eb-8e63-b992ff921293.png)

**Help me **
How to fix bro :(

[2021-04-08 10:37] phucle225 commented on #92
![image](https://user-images.githubusercontent.com/31835504/114012897-19796c80-9891-11eb-83bb-ec53c0ce9d39.png)

[2021-04-09 11:51] dretax commented on #92
You cant be serious. This repo is provided as is. If you dont like something fix It yourself and do a PR. People like you who just wanna cheat and not learn anything are the most annoying ones.

[2021-04-09 11:52] #92 closed

[2021-04-11 10:46] dretax commented on #92
If you tried fixing it and got stuck somewhere lemme know.

[2021-04-13 16:54] phucle225 commented on #92
Thank bro, i read deep project, and i see solution fix, i use GetBonePosition replace getHeadPosition, Thanks for your encouragement. :)))

[2021-04-15 12:52] #90 closed

[2021-04-15 14:49] dretax commented on #92
See! Ezpz.

[2021-04-23 08:18] lmzxyz opened #93 "ObRegisterCallbacks error"
**Describe the issue**
ObRegisterCallbacks returns STATUS_ACCESS_DENIED

**To Reproduce**
Steps to reproduce the behavior:
1. Change the Entryfunction like described for manualmapping
2. Manualmap the driver with kdmapper
3. NTSTATUS reg = RegisterOBCallback(); reg == STATUS_SUCCESS is false
4. Further debugging shows reg = STATUS_ACCESS_DENIED

**Expected behavior**

STATUS_ACCESS_DENIED | The ca

[2021-04-23 10:26] dretax commented on #93
Nice to see a clearly made issue.

#54
The easiest way would be to hook a driver's OBRegisterCallback and use that for protection. I might have an idea that i can implement this week, but I am very limited on time nowadays.

[2021-04-28 11:39] ring0jke opened #94 "Getting stuck with csgo.exe pid"
Hello,

Trying to set to work your project on my pc.

Got complied everything,created service,started it. But once im trying to start controller and get pid of csgo,it fails...

Where i could look up to debug it ?
Sounds like driver-client communition?
![driverstuck](https://user-images.githubusercontent.com/30176670/116397695-9617bf00-a82f-11eb-8358-8f8fc2700360.png)

[2021-04-28 11:40] ring0jke commented on #94
Driver-Client communication failure?

[2021-04-28 11:46] Life45 commented on #94
In these situations i would suggest to go from basic to complicated. For example, first of all verify that you are running the controller with admin rights so it can communicate using IOCTL.

[2021-04-28 11:55] ring0jke commented on #94
Ye,it defiently has admin rights.
and it has handle to driver
![image](https://user-images.githubusercontent.com/30176670/116399561-bc3e5e80-a831-11eb-9582-3c6a705e067d.png)

How do i can test communication with driver?

[2021-04-28 12:09] Life45 commented on #94
As far as i know garhal already leaves debug messages when it receives a valid IOCTL request. To see them, you can use debug view from sysinternals. Be sure to check capture kernel option

[2021-04-28 12:20] ring0jke commented on #94
So ya, thanks for idea!

Now i can defiently see that communication is working.
But for some reason driver cannot get the pid :(

![image](https://user-images.githubusercontent.com/30176670/116402582-44723300-a835-11eb-8f31-a2a3dd00c7dd.png)

[2021-04-28 12:31] Life45 commented on #94
@dretax made a lot of updates since the start including manual map and im not quite familiar with them, but if you are not using manual map i would suggest to first start the driver, then start csgo because it might use PsLoadImageNotifyRoutine which gets the PID and such when they get loaded the first time.

[2021-04-28 12:39] ring0jke commented on #94
@Life45  that was a core of the problem 👍
So i just restarted csgo and it perfectly works :) 🥇
Issue solved

[2021-04-28 12:39] #94 closed

[2021-04-29 09:44] dragutinv55 opened #95 "Glow green if visible"
I was trying to implement green glow, if enemy is visible using this code:

[code]

The problem is that it shows green glow even behind the doors and on the edges of the walls. If it is behind a wall - it works OK. Is there an easy way to create is_truly_visible to include doors, smokes etc. ?

[2021-04-29 09:55] Life45 commented on #95
You can start by searching about BSP parsing and how to make it more precise. If you can improve the current one in this project, we would love to see a PR and test it.

[2021-04-29 13:37] dretax commented on #95
+1

[2021-04-29 15:09] dragutinv55 commented on #95
When checking the articles they say that BSP is not that precise technique. Found some code that uses TraceRay call in cs libs like this:

[code]

Do you think it would be possible to call this from driver using something like `KeUserModeCallBack`?

[2021-04-29 15:37] Life45 commented on #95
Big NO for you. You can't treat kernel like you are internal. We just told you what you should be doing, instead ur just asking us pretty much non sense. I already have seen some [good bsp parsing examples](https://www.youtube.com/watch?v=_L59qIiu5Vs), it's doable. If you don't want that, you should be going internal and using trace ray instead.

Please for everyone reading this, @dretax made a wo

[2021-05-11 20:39] trolloos opened #96 "Kernel_security_check_failure bsod"
Hello I have OS build 19041.928 and I can't manual map the driver using KDmapper or UMAP, for some reason it instantly blue screens. The cheat works fine otherwise with testmode. All my build options are exactly the same as well with GS- security check disabled.

 EDIT:  I changed the DriverEntry point in the project linker settings to fix this

[2021-05-31 19:20] #93 closed

[2021-06-13 17:12] zhivko-zh commented on #96
Hello, I had the same issue and apply the same fix, but now it can't be handled by the GarhalController. Can you help me please?
Thank you in advance!

[2021-06-13 19:09] dretax commented on #96
Have you come to a solution to your issue?

[2021-06-13 19:10] #95 closed

[2021-06-13 19:11] #54 closed

[2021-06-14 09:46] zhivko-zh commented on #96
Hello, I have the same problem, I tried to set an entry point and some other things, but without success. I apologize for the stupid question, but is there a way to start the service before any of the anti-cheat services and possibly be deceived. I am a Devops engineer, so for now I do not have the necessary knowledge in the development of kernel services, I will be grateful if you can help me.
Th

[2021-06-14 11:28] dretax commented on #96
Hello,

Judging by your question you wish to bypass Valorant's AC which acts as a rootkit, and launches on your PC at boot.
I'd suggest you reading up on articles, and forums on what people have already posted as information, or you could just actually reverse their driver by yourself, and see what they are doing....................... You would need an EFI driver as a start.

As for your issue Wi

[2021-06-14 11:28] #96 closed

[2021-06-14 12:26] zhivko-zh commented on #96
Thanks a lot for the answer, I will look at the articles in the forum.

[2021-06-21 10:03] AlexanderQueen opened #98 "Windows 7 x64 Support."
Is W7 x64 supported or it will be?

[2021-06-21 14:46] dretax commented on #98
You are welcome to download the win7 driver kit, and start making the driver compatible.

[2021-06-21 14:46] #98 closed

[2021-06-26 18:44] 18601673727 opened #99 "Has anyone ever got this working with kdmapper on 20H2?"
My setup checklist:
- Rename the function inside `garhal.c` from `DriverEntry` to `DriverInitialize`
- Comment line `pDriverObject->DriverUnload = UnloadDriver;`
- Comment block `NTSTATUS UnloadDriver(PDRIVER_OBJECT pDriverObject) {...}`
- Add line `#define _NO_CRT_STDIO_INLINE` inside `hide.h`
- C++ -> Code Generation -> Security Check -> set to `/GS-`
- Linker -> Command Line -> add `/INTEGRITYC

[2021-06-27 17:18] dretax commented on #99
Thanks for the minidump. Will take a look soon. I assume you are using an updated kdmapper?

[2021-06-27 17:23] Life45 commented on #99
You need to set a custom entry point in linker settings. It was something like FxDriverEntry, change it to the function name of driver entry.

[2021-06-27 19:50] 18601673727 commented on #99
For sure mr, this's what i'm using https://github.com/TheCruZ/kdmapper

[2021-06-27 19:56] Life45 commented on #99
@18601673727 Did you try what i said ?

[2021-06-27 20:10] 18601673727 commented on #99
Yes, and it perfectly solved this issue, now I'm struggling with the config part, closing anyway thanks for the kind helps!

[2021-06-27 20:10] #99 closed

[2021-07-26 12:51] dretax opened #100 "Fix glow"
Issue at csgo struct change, glow doesnt work.

[2021-07-26 12:57] #100 closed

[2021-07-29 14:41] 2217936322 commented on #76
CSGO magic bullet NO!!! That’s not possible!!!The Bullet’s information is on the server!!!!!!

[2021-08-06 16:44] dretax commented on #76
He is using the driver on an emulated PUBG android app.

[2021-08-06 18:28] lmzxyz opened #102 "GetCorrectOffset (19043)"
int GetCorrectOffset(CHAR* Name, ULONG BuildNumber) only supports 19041 and 19042. It's outdated for BuildNumber 19043.
How can I find these offsets for the new version?

[2021-08-06 18:41] dretax commented on #102
https://www.vergiliusproject.com/kernels/x64/Windows%2010%20%7C%202016/2104%2021H1%20(May%202021%20Update)/_EPROCESS

i will update the code later

[2021-08-06 19:32] lmzxyz commented on #102
Thanks a lot if I'm not mistaken they are still the same. So changing the if statement in memory.c on line 42 to the following should do the trick.
else if (BuildNumber == 19041 || BuildNumber == 19042 || BuildNumber == 19043)

[2021-08-06 20:02] dretax commented on #102
Correct

[2021-09-04 09:06] #102 closed

[2022-03-10 12:16] afeer123 opened #104 "blue screen please"
**Describe the issue**
A clear and concise description of what the bug/issue is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Windows 10 version:**
 - My

[2022-03-10 12:38] afeer123 commented on #104
sorry win 21h2

[2022-03-10 12:53] afeer123 commented on #104
x64

[2022-03-10 15:44] dretax commented on #104
Have you tried debugging the problem?

[2022-03-12 11:05] Xlong99 opened #105 "Does anyone know why I can't read memory"
I use MmCopyVirtualMemory just like you to copy memory, but it only works in the bot game, and when I start a matchmaking game, it reads 0,i use windows 11

[2022-03-14 11:49] Life45 commented on #105
Obviously you are doing something wrong, no one can guess what the problem is if you dont provide code or details

[2022-03-30 21:25] #104 closed

[2022-03-30 21:25] #76 closed

[2022-04-03 01:51] freegocrazy commented on #104
You need to set a custom entry point in linker settings. It was something like FxDriverEntry, change it to the function name of driver entry.

[2022-04-05 06:03] dretax commented on #104
Zzzzzzz...

[2022-06-13 06:30] leidadpig commented on #99
May I ask what "Add line #define _NO_CRT_STDIO_INLINE inside hide.h" for? I don't understand what is the purpose doing this for.
Thanks

[2022-06-13 12:29] leidadpig opened #107 "KDMAPPER cause ObRegisterCallbacks error: STATUS_ACCESS_DENIED"
Hi, when I try to load the driver in test mode using "sc"cmd, driver works perfectly and user mode also works.
 However when I try using the latest kdmapper , ObRegisterCallbacks  failed, and cannot get the base address.

My setup checklist:
Rename the function inside garhal.c from DriverEntry to DriverInitialize
Uncomment the commented block to get new "DriverEntry "
Comment line pDriverObject->D

[2022-06-13 13:12] Life45 commented on #107
ObRegisterCallbacks won't work in a manually mapped module unless you research and write code to make it so. However, the issue with getting base address shouldn't be related to that since ObRegisterCallbacks is just an additional protection layer. First of all ensure that you start the controller as administrator.

[2022-06-13 14:45] leidadpig commented on #107
Thanks, I tried what u suggest and found out new problem here.

**After successfully kdmapping the Garhal.sys**

1. I compile the controller with updated offset.h,  I run the GarhalController.exe as administrator, **the console window just blink once then closed and nothing happened, no console window left**.
2. I run the GarhalController.exe with double click( not as  administrator) my mouse, win

[2022-06-13 15:11] leidadpig commented on #107
I find out that it is windows defender stop me to run GarhalController .exe as admin 。。。。

try shut it down once for all

[2022-06-14 07:15] dretax commented on #107
Something is crashing for you when you are launching the app as admin. Obviously doing so without admin rights will get you no where as it is needed for the IOCTL communication. Did you debug where the application crashes for you?
Its weird if you didnt get a notification from windows defender  until now.

[2022-06-14 08:07] dretax commented on #99
@leidadpig I'm not sure what was the case in his scenario, but I can lead you to some articles to get a better understanding. Read them in order.

https://www.codeproject.com/Articles/22642/What-Every-Computer-Programmer-Should-Know-About-W
https://docs.microsoft.com/en-us/cpp/porting/visual-cpp-change-history-2003-2015?redirectedfrom=MSDN&view=msvc-170
https://www.solomonsklash.io/smaller-c-paylo

[2022-06-14 08:11] dretax commented on #107
@leidadpig Glad to know it got resolved. I answered your question on #99 as well.

[2022-06-14 08:11] #107 closed

[2022-07-20 16:48] Jacckii opened #109 "VAC detection"
**VAC detection**
Since CS:GO update in February 2022, CS:GO started to check cvars such as ***m_bSpotted, m_flFlashMaxAlpha, m_clrRender***, and many more. This means most of the features of this cheat are by now detected. Tho the VAC ban may be delayed by 1 or more months. This may be due to many reasons as:
- collecting and training AI using your data
- to make it harder to analyze what's detec

[2022-07-21 07:21] dretax commented on #109
Thank you for the notice. I haven't been following CSGO changes for quite a while due to lack of interest, and other cheating projects we maintain.

If thats the case, the solution to this is rather simple, we stop writing those netvar flags, and we will utilize imgui to render data.
Since Garhal is an original POC that provided a concept for many-many people I'd like to retain the original form o

[2022-07-21 10:09] Jacckii commented on #109
Yes, a separate project would do just fine.
How do you plan to render the data tho?

[2022-07-21 10:25] dretax commented on #109
Nothing advanced / secret. I'd probably create or hijack a window/overlay, and render the players based on their bone matrix.

[2022-07-31 13:07] Jacckii commented on #109
wouldn't that be another detection vector that could possibly be detected in the near future?

[2022-07-31 13:46] dretax commented on #109
@Jacckii Honestly everything can be a detection vector in that aspect.
There are various solutions we utilize for our BattlEye, and EAC projects, but judging by the fact that VAC has taken years to even check simple fields change like those I doubt they will quickly adapt to do so.
I think leveling the project accordingly to VAC's state should be more than enough, the window part shouldn't be a co

[2022-08-12 07:44] dretax commented on #109
I should have this during the weekend

[2022-08-30 07:54] dretax commented on #109
Alright. I got the whole base code ready to be merged soon, I'm working on making the menu now, and involved @ThePaimon who likes doing menu designs.
From there I just need to render the csgo player bones approprietly with some customization added, and remove most of the parts where we write in the memory aside of the aimbot feature.

[2022-09-05 12:24] dev5tar commented on #109
@dretax does the fork currently being updated have the ret addr checks sorted? Looking forward to seeing the release. Great stuff.

[2022-09-05 21:22] dretax commented on #109
@dev5tar this is an external project thus we do not call functions internally, and there is no point in patching any checks. We will be just reading memory, optionally writing some.

[2022-09-10 17:12] dretax commented on #109
Ready! Now just @ThePaimon has to finish a quick design and I'm ready to make the first stage released.

[2022-09-18 15:18] dretax commented on #109
@Jacckii @dev5tar @skhrlx @lordkronos
Consider this sort of done. There are still various things to work on, some things we will be adding along and working out.
Right now the only major issue is the bone scaling approprietly by the distance, probably transforming the according to the local player camera matrix would fix the issue.
I'll be fixing that hope you will like the current example.

[2022-09-18 15:18] #109 closed

[2022-11-01 13:52] dretax commented on #109
Hey @Jacckii. I just wanted to revisit this issue, as I have yet to correctly align the bone positions, and that's something that came into my mind :D

Have you been using Garhal by any chance, and experienced trust factor changes?

[2022-11-01 14:14] Jacckii commented on #109
Hey @dretax, I've been testing the trust factor problem for a while now, so far my 3 testers that use a modified version of this didn't get into the "red trust factor" or at least there is no lobby message saying otherwise when played with high trust factor players. They've experienced cheaters in 1 of 3 match-making games, but that may be due to the high amount of reports.

In my "modified" versi

[2022-11-01 14:23] Jacckii commented on #109
@skhrlx did you experience VAC auth errors kicking you from MM servers too?

[2022-11-01 14:24] skhrlx commented on #109
No, I don't

[2022-11-01 14:27] Jacckii commented on #109
Perhaps the VAC error could be something with my mouse_event call since you're using Arduino to do this instead.

[2022-11-01 15:26] Jacckii commented on #109
I have made a pull request with a fix for the bone position alignment problem you have.

[2022-11-02 07:28] dretax commented on #109
Sounds good. Yeah I assumed It was just never actually had the energy to come back to the Garhal project, I always got something else to roam with when on PC. Thanks for the PR and the info.

The new source provides an example for that, other than that interesting setup. The view angles part honestly is something that   you should not worry of, a very few games make server side checks for suspicio

[2022-11-04 00:58] Jacckii commented on #109
Okay, now I have implemented MouseClassServiceCallback instead, it might be bit overkill for VAC but, at least it's great start if I want to try make it undetected on Faceit etc. (tho I have seen some posts about Faceit having this hooked and checked)

Now it would be great time to implement alternative for the ioctl communication. Any idea what could be fast and realible? I was thinking maybe abo

[2022-11-04 06:36] dretax commented on #109
@Jacckii Research shared memory

[2022-11-26 17:19] aguywith2tits opened #112 "Mouse_event aimbot"
I believe it's super secure work with kernel + read only memory, so, I belive if you add the option, or just tell me how to add a mouse_event, or how to convert the view angles to mouse coordinates, it will very good, since writing to memory can be detected one day, like the bhop feature, and you can add the bhop feature again just sending a mouse scroll instead of forcing jump 😃